@import "tailwindcss";

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(17 24 39);
    background-color: rgb(249 250 251);
  }
}

/* Hide native browser clear (X) button inside date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
